body {
    font-family: Arial, sans-serif;
    background-color: rgb(75, 192, 238) 91, 155);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, textarea {
    margin-bottom: 15px;
    padding: 8px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #663f3f;
    cursor: pointer;
  }
  